body {
    background-image:url('https://i.pinimg.com/564x/20/73/38/20733891457dd5c0162354ec31728824.jpg') ; 
     background-size: auto 100vh; 
     fonte-family: Arial;
     height: 100hv
     
   }
   .menu{
     background-color:#ffcbdb; 
   }
   a{
     color: teal;
     text-decoration: none;
   }
     .site-subtitle,
   .site-title {
         color:whitesmoke;
           text-align: center;
       }
   .site.subtitle {
     font-style: italic;
     
   }
   
   
   .menu ul {
     display: flex;
     justify-content: space-around; 
   }
   .menu li {
     list-style:none;
     
   }
   